DATAMART_VENTAS/src/deploy/adf/JSON_PL_EJEMPLO_VARIABLE
{
    "name": "TTIB - Copiar archivos BMO Anexos 19 y 20 de Datalake Storage",
    "properties": {
        "activities": [
            {
                "name": "Set variable date_MMyyyy",
                "description": "Set variable que almacena la fecha del mes anterior en formato MMyyyy",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "date_MMyyyy",
                    "value": {
                        "value": "@formatDateTime(subtractFromTime(addHours(utcnow(), -5), 1, 'MONTH'), 'MMyyyy')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Validar existencia archivo Anexo 20",
                "type": "Validation",
                "dependsOn": [
                    {
                        "activity": "Set variable date_MMyyyy",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "TTIB_TXT_CopiaDeArchivosBMOanexo20out",
                        "type": "DatasetReference",
                        "parameters": {
                            "fechaReporte_MMyyyy": "@variables('date_MMyyyy')"
                        }
                    },
                    "timeout": "00:15:00",
                    "sleep": 1
                }
            },
            {
                "name": "Set variable date_ddMMyyyy",
                "description": "Set variable que almacena la fecha del día anterior en formato ddMMyyyy",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "date_ddMMyyyy",
                    "value": {
                        "value": "@formatDateTime(addDays(addHours(utcnow(), -5), -1), 'ddMMyyyy')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Validar existencia archivo Anexo 19",
                "type": "Validation",
                "dependsOn": [
                    {
                        "activity": "Set variable date_ddMMyyyy",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "TTIB_TXT_CopiaDeArchivosBMOanexo19out",
                        "type": "DatasetReference",
                        "parameters": {
                            "fechaReporte_ddMMyyyy": "@variables('date_ddMMyyyy')"
                        }
                    },
                    "timeout": "00:15:00",
                    "sleep": 1
                }
            },
            {
                "name": "Existe archivo de anexo 20",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Validar existencia archivo Anexo 20",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Validar existencia archivo Anexo 20').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copiar archivo de anexo 20",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "TTIB_TXT_CopiaDeArchivosBMOanexo20out",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "fechaReporte_MMyyyy": {
                                            "value": "@variables('date_MMyyyy')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "TTIB_TXT_CopiaDeArchivosBMOin",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Existe archivo de anexo 19",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Validar existencia archivo Anexo 19",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Validar existencia archivo Anexo 19').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copiar archivo de anexo 19",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "TTIB_TXT_CopiaDeArchivosBMOanexo19out",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "fechaReporte_ddMMyyyy": {
                                            "value": "@variables('date_ddMMyyyy')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "TTIB_TXT_CopiaDeArchivosBMOin",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "variables": {
            "date_MMyyyy": {
                "type": "String",
                "defaultValue": "011990"
            },
            "date_ddMMyyyy": {
                "type": "String",
                "defaultValue": "01011990"
            }
        },
        "annotations": [],
        "lastPublishTime": "2024-09-17T18:11:51Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}