DATAMART_VENTAS/src/deploy/adf/arm_template/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "df01-esping09eu02desa"
        },
        "lnk_filesystem_input_appventas_desa_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'lnk_filesystem_input_appventas_desa'"
        },
        "lnk_adls_tmp_appventas_desa_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'lnk_adls_tmp_appventas_desa'"
        },
        "lnk_filesystem_input_appventas_desa_properties_typeProperties_host": {
            "type": "string",
            "defaultValue": "\\\\40.70.223.123\\Input_AppVenta\\"
        },
        "lnk_filesystem_input_appventas_desa_properties_typeProperties_userId": {
            "type": "string",
            "defaultValue": "main"
        },
        "lnk_adls_tmp_appventas_desa_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://adlslakehouseeu02desa01.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Trasformation')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "StagingParquet",
                                "type": "DatasetReference"
                            },
                            "name": "source1"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "ParquetDestinationStore",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "MapDrifted1",
                            "description": "Creates an explicit mapping for each drifted column"
                        },
                        {
                            "name": "filter1"
                        }
                    ],
                    "scriptLines": [
                        "source(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false,",
                        "     format: 'parquet') ~> source1",
                        "source1 derive(ID = toString(byName('ID')),",
                        "          NOMBRE = toString(byName('NOMBRE')),",
                        "          TELEFONO = toString(byName('TELEFONO')),",
                        "          CORREO = toString(byName('CORREO')),",
                        "          FECHA_INGRESO = toString(byName('FECHA_INGRESO')),",
                        "          EDAD = toString(byName('EDAD')),",
                        "          SALARIO = toString(byName('SALARIO')),",
                        "          ID_EMPRESA = toString(byName('ID_EMPRESA'))) ~> MapDrifted1",
                        "MapDrifted1 filter(ID==\"1\") ~> filter1",
                        "filter1 sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     format: 'parquet',",
                        "     truncate: true,",
                        "     umask: 0022,",
                        "     preCommands: [],",
                        "     postCommands: [],",
                        "     partitionBy('hash', 1)) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/StagingParquet')]",
                "[concat(variables('factoryId'), '/datasets/ParquetDestinationStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger1')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "pln_cpy_fileserver_to_adls_appventas_cliente",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 5,
                        "startTime": "2024-09-29T20:22:00",
                        "endTime": "2024-09-29T20:30:00",
                        "timeZone": "SA Pacific Standard Time"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pln_cpy_fileserver_to_adls_appventas_cliente')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_input_appventas_ventas')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "DIRECTORIO_ORIGEN": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "FileServerLocation",
                        "fileName": "venta.csv",
                        "folderPath": {
                            "value": "@dataset().DIRECTORIO_ORIGEN",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_tmp_appventas_ventas')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_adls_tmp_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "DIRECTORIO_DESTINO": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@dataset().DIRECTORIO_DESTINO",
                            "type": "Expression"
                        },
                        "fileSystem": "lakehousedata"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_adls_tmp_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/BinaryDataSourceStore')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Connection to your data source store. ",
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderPath": {
                        "type": "string"
                    },
                    "Directory": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "FileServerLocation",
                        "folderPath": {
                            "value": "@concat(dataset().FolderPath,'/',dataset().Directory)",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/BinaryDataDestinationStore')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Connection to your data destination store.  ",
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderPath": {
                        "type": "string"
                    },
                    "Directory": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "FileServerLocation",
                        "folderPath": {
                            "value": "@concat(dataset().FolderPath,'/',dataset().Directory)",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_tmp_appventas_cliente')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_adls_tmp_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "tmp/cliente",
                        "fileSystem": "lakehousedata"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_adls_tmp_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_input_appventas_cliente')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "FileServerLocation",
                        "fileName": "persona.csv"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_tmp_appventas_cliente_lookup')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_adls_tmp_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "persona.csv",
                        "folderPath": "tmp/cliente",
                        "fileSystem": "lakehousedata"
                    },
                    "columnDelimiter": "|",
                    "rowDelimiter": "\n",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "ID|NOMBRE|TELEFONO|CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_adls_tmp_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FileServerSourceDatasetEntity')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "FileShare",
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ParquetDestinationStore')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_adls_tmp_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "file.parquet",
                        "folderPath": "bronze/cliente",
                        "fileSystem": "lakehousedata"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_adls_tmp_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/StagingParquet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_adls_tmp_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "file.parquet",
                        "folderPath": "dataflow",
                        "fileSystem": "staging"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_adls_tmp_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_input_appventas_cliente_parsed')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "lnk_filesystem_input_appventas_desa",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "FileServerLocation",
                        "fileName": "persona.csv"
                    },
                    "columnDelimiter": "|",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "ID|NOMBRE",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnk_filesystem_input_appventas_desa')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "SelfHosted",
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/lnk_filesystem_input_appventas_desa')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "lnk_filesystem_input_appventas_desa",
                "annotations": [],
                "type": "FileServer",
                "typeProperties": {
                    "host": "[parameters('lnk_filesystem_input_appventas_desa_properties_typeProperties_host')]",
                    "userId": "[parameters('lnk_filesystem_input_appventas_desa_properties_typeProperties_userId')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('lnk_filesystem_input_appventas_desa_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/lnk_adls_tmp_appventas_desa')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "lnk_adls_tmp_appventas_desa",
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('lnk_adls_tmp_appventas_desa_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('lnk_adls_tmp_appventas_desa_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/pln_cpy_fileserver_to_adls_appventas_ventas')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "cpy_fileserver_to_adls_appventas_ventas",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "FileServerReadSettings",
                                    "recursive": true,
                                    "deleteFilesAfterCompletion": false
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_input_appventas_ventas",
                                "type": "DatasetReference",
                                "parameters": {
                                    "DIRECTORIO_ORIGEN": {
                                        "value": "@pipeline().parameters.DIRECTORIO_ORIGEN",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_tmp_appventas_ventas",
                                "type": "DatasetReference",
                                "parameters": {
                                    "DIRECTORIO_DESTINO": {
                                        "value": "@pipeline().parameters.DIRECTORIO_DESTINO",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "DIRECTORIO_ORIGEN": {
                        "type": "string"
                    },
                    "DIRECTORIO_DESTINO": {
                        "type": "string",
                        "defaultValue": "tmp/ventas"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2024-09-30T04:36:59Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_input_appventas_ventas')]",
                "[concat(variables('factoryId'), '/datasets/ds_tmp_appventas_ventas')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CopyNewFilesByLastModifiedDate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Copy new and changed files only by using LastModifiedDate",
                "activities": [
                    {
                        "name": "CopyNewFiles",
                        "description": "Copy new and changed files only by using LastModifiedDate",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "FileServerReadSettings",
                                    "recursive": true,
                                    "modifiedDatetimeStart": {
                                        "value": "@{pipeline().parameters.LastModified_From}",
                                        "type": "Expression"
                                    },
                                    "modifiedDatetimeEnd": {
                                        "value": "@{pipeline().parameters.LastModified_To}",
                                        "type": "Expression"
                                    },
                                    "wildcardFileName": {
                                        "value": "*",
                                        "type": "Expression"
                                    }
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "FileServerWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "BinaryDataSourceStore",
                                "type": "DatasetReference",
                                "parameters": {
                                    "FolderPath": {
                                        "value": "@pipeline().parameters.FolderPath_Source",
                                        "type": "Expression"
                                    },
                                    "Directory": {
                                        "value": "@pipeline().parameters.Directory_Source",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "BinaryDataDestinationStore",
                                "type": "DatasetReference",
                                "parameters": {
                                    "FolderPath": {
                                        "value": "@pipeline().parameters.FolderPath_Destination",
                                        "type": "Expression"
                                    },
                                    "Directory": {
                                        "value": "@pipeline().parameters.Directory_Destination",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "FolderPath_Source": {
                        "type": "String",
                        "defaultValue": "sourcefolder"
                    },
                    "Directory_Source": {
                        "type": "String",
                        "defaultValue": "subfolder"
                    },
                    "FolderPath_Destination": {
                        "type": "String",
                        "defaultValue": "destinationfolder"
                    },
                    "Directory_Destination": {
                        "type": "String",
                        "defaultValue": "subfolder"
                    },
                    "LastModified_From": {
                        "type": "String",
                        "defaultValue": "2019-02-01T00:00:00Z"
                    },
                    "LastModified_To": {
                        "type": "String",
                        "defaultValue": "2019-03-01T00:00:00Z"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2024-09-29T23:49:44Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/BinaryDataSourceStore')]",
                "[concat(variables('factoryId'), '/datasets/BinaryDataDestinationStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pln_cpy_fileserver_to_adls_appventas_cliente')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "cpy_fileserver_to_adls_appventas_ventas",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "FileServerReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_input_appventas_cliente",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_tmp_appventas_cliente",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-09-30T02:40:29Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_input_appventas_cliente')]",
                "[concat(variables('factoryId'), '/datasets/ds_tmp_appventas_cliente')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pln_cpy_fileserver_to_adls_appventas_datamart')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "exec_pln_ventas",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pln_cpy_fileserver_to_adls_appventas_ventas",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "exec_pln_clientes",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pln_cpy_fileserver_to_adls_appventas_cliente",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-09-30T04:37:00Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pln_cpy_fileserver_to_adls_appventas_ventas')]",
                "[concat(variables('factoryId'), '/pipelines/pln_cpy_fileserver_to_adls_appventas_cliente')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DataflowCopy')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Run dataflow with Explicit copy to ingest copy source",
                "activities": [
                    {
                        "name": "LoadData",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "FileServerReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "ID",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "NOMBRE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "NOMBRE",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TELEFONO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TELEFONO",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CORREO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CORREO",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FECHA_INGRESO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FECHA_INGRESO",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EDAD",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EDAD",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "SALARIO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "SALARIO",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "ID_EMPRESA",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "ID_EMPRESA",
                                            "type": "String",
                                            "physicalType": "UTF8"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_input_appventas_cliente_parsed",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "StagingParquet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Trasformation",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "LoadData",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "Trasformation",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "source1": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-09-30T02:55:28Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_input_appventas_cliente_parsed')]",
                "[concat(variables('factoryId'), '/datasets/StagingParquet')]",
                "[concat(variables('factoryId'), '/dataflows/Trasformation')]"
            ]
        }
    ]
}